.travel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px 0;
  padding: 32px 0;

  @media screen and (min-width: 1024px) {
    padding: 64px 0;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.travel-box {
  position: relative;
  max-width: 600px;

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
  @media screen and (min-width: 1440px) {
    max-width: 432px;
  }
}

.travel-img {
  width: 100%;
  max-width: 600px;
  @media screen and (min-width: 1024px) {
    max-width: 871px;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    width: 700px;
    max-width: none;
    top: -332px;
    left: -233px;
    z-index: -1;
  }
}

.travel-container {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  //justify-content: center;
  //align-items: center;

  @media screen and (min-width: 1024px) {
    gap: 64px 0;
  }
}

.travel-container-header {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.travel-container-header__description {
  margin: 16px 0 0 0;
}

.travel-container-body {
  display: flex;
  flex-direction: column;
  gap: 16px 0;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.travel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid var(--color-1918251A);

  @media screen and (min-width: 1024px) {
    width: 400px;
  }

  @media screen and (min-width: 1440px) {
    width: 200px;
  }
}

.travel-card__numbers {
  color: var(--color-FF5722);
  font-family: CircularStd-Bold, serif;
  font-size: 35px;
  line-height: 120%;
}

.travel-card__description {
  color: var(--color-191825);
  font-size: 18px;
  line-height: 160%;
}
