:root {
  --color-5D50C6: #5d50c6;
  --color-EEEEEE: #eeeeee;
  --color-222831: #222831;
  --color-19182580: #19182580;
  --color-F85E9F: #F85E9F;
  --color-000000: #000000;
  --color-FFFFFF: #ffffff;
  --color-191825: #191825;
  --color-1918251A: #1918251A;
  --color-19221EBF: #19221EBF;
  --color-FF5722: #FF5722;
  --color-FACD49: #FACD49;
  --color-191825BF: #191825BF;
  --color-1918250D: #1918250D;
  --color-FACD4914: #FACD4914;
}
