:root {
  --color-5D50C6: #5d50c6;
  --color-EEEEEE: #eeeeee;
  --color-222831: #222831;
  --color-19182580: #19182580;
  --color-F85E9F: #f85e9f;
  --color-000000: #000000;
  --color-FFFFFF: #ffffff;
  --color-191825: #191825;
  --color-1918251A: #1918251A;
  --color-19221EBF: #19221EBF;
  --color-FF5722: #FF5722;
}
