@font-face {
  font-family: 'CircularStd';
  src: url('src/media/fonts/CircularStd-Medium.ttf');
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('src/media/fonts/CircularStd-Bold.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('src/media/fonts/Inter-Regular.ttf');
}
