:root {
  --color-5D50C6: #5D50C6;
  --color-EEEEEE: #EEEEEE;
  --color-222831: #222831;
  --color-19182580 : #19182580;
}

@font-face {
  font-family: 'CircularStd';
  src: url('src/media/fonts/CircularStd-Medium.ttf');
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('src/media/fonts/CircularStd-Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
}

.app-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 16px;
}

.app-container {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 1000px;
  }

}

.nav {
  display: grid;
  grid-template-areas:
    "logo menu";
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;


  @media screen and (min-width: 1024px) {
    grid-template-areas:
    "menu logo actions";
  }

  @media screen and (min-width: 1440px) {
    grid-template-areas:
    "logo list actions";
  }
}

.nav-logo {
  grid-area: logo;
}

.nav-menu {
  grid-area: menu;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.nav-list {
  grid-area: list;
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.nav-actions {
  grid-area: actions;
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 100px;

  font-family: CircularStd-Bold, serif;
  font-size: 14px;
  font-style: normal;
  line-height: 16.8px;
}

.btn-primary {
  background: var(--color-5D50C6);
  color: var(--color-EEEEEE);
}

.btn-link {
  background: transparent;
  color: var(--color-222831);
}

.btn-link-menu {
  margin: 16px 32px;
  padding: 0;
  background: transparent;
  color: var(--color-19182580);
}

.btn-link-menu--active {
  color: var(--color-222831);
}
